/Programas/Servidor/nbproject/private/
/Programas/MaquinaTickets/nbproject/private/
/Programas/Mostradores/nbproject/private/
/Programas/MaquinaTickets/dist/
/Programas/MaquinaTickets/build/
/Programas/Mostradores/build/
/Programas/Mostradores/dist/
/Programas/Servidor/build/
/Programas/Servidor/dist/